.page { 
  min-width: 320px;
  max-width: 1280px; 
  min-height: 100vh;
  margin: 0 auto; 
  -webkit-font-smoothing: antialiased;  
  -webkit-text-size-adjust: 100%; 
  text-rendering: optimizeLegibility;
  font-family: 'Inter', Arial, sans-serif; 
  background-color: #2A2C2F; 
} 

.content {
  max-width: 1184px; 
  display: flex; 
  flex-direction: column; 
  margin: 0 auto;
}

.header { 
  display: flex; 
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1184px; 
  max-height: 52px;
  padding: 28px 48px 0 48px;
}

.header__logo {
  width: 176px;
  height: 52px;
} 

.header__lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px; 
  color: white; 
  width: 30px;
  height: 28px; 
  margin-bottom: 6px; 
  margin-top: 18px;
} 

.header__lang-link:hover {
  opacity: 0.8;
} 

.header__lang-link:last-child {
  text-decoration: none;
} 

.header__lang-link:not(:last-child) {
  margin-left: auto; 
  margin-right: 18px;
}  

.lead {
  max-width: 984px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center; 
  color: #FFFFFF; 
  margin: 0;
  max-width: 720px;
} 

.lead__subtitle { 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center; 
  color: #FFFFFF; 
  margin: 32px 0 0;
  text-align: center;
  max-width: 640px;
} 

.lead__image { 
  display: block;
  max-height: 615px; 
  object-fit: cover; 
  width: 100%;
  margin-top: 64px;
} 

.lead__caption { 
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 0 0 0;
  align-self: flex-start; 
  color: #FFFFFF;
} 

.intro {
  max-width: 690px; 
  margin: 92px 0 0 100px; 
  overflow: hidden;
}  

.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px; 
  color: #FFFFFF; 
  margin: 0;
} 

.intro__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%; 
  color: #FFFFFF; 
  margin: 40px 0 33px 0;
} 

.intro__list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px; 
  color: #FFFFFF; 
  white-space: pre-line; 
  margin: 0;
}  

.photo-grid {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 16px; 
  justify-content: center;
  margin: 92px auto 0;
}

.photo-grid__item {
  width: 284px; 
}  

.places {
  max-width: 984px;
  margin: 92px auto 0;
}

.place {  
  width: 100%;
  display: grid; 
  grid-template-columns: 460px 1fr;
  max-width: 984px;  
  column-gap: 40px;
  grid-template-areas: "place__title place__website"  
                       "place__image place__container"; 
}    

.place:not(:first-child) { 
  margin-top: 80px;
}

.place__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px; 
  color:#FFFFFF;   
  grid-area: place__title; 
  margin: 0 auto 48px 0; 
  align-self: center;
}  

.place__title:not(:first-child) {
  margin: 80px 0 48px;
}

.place__image {
  width: 100%; 
  grid-area: place__image;
} 

.place__website { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: place__website;
}   

.place__url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px; 
  letter-spacing: 2px; 
  color: #AAAAAA; 
  margin: 0 0 12px 0;
} 

.place__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; 
  color: #FFFFFF; 
  text-decoration-line: underline;
} 

.place__link:hover {
  opacity: 0.8;
} 

.place__paragraphs {
  grid-area: place__container;
}

.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%; 
  color: #FFFFFF;  
  margin: 0 0 26px;
}  

.cover {
  margin: 92px auto 0; 
  max-width: 1184px;  
  position: relative;
  min-height: 740px;   
  overflow: hidden;
} 

.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center; 
  color: #FFFFFF; 
  width: 560px;  
  z-index: 1; 
  margin: 0px auto 32px; 
} 

.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; 
  text-align: center;
  color: #FFFFFF; 
  width: 360px;  
  z-index: 1;
  margin: 0 auto;
} 

.cover__background {
  width: 1184px;  
  min-height: 740px;  
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  background-image: url(../images/cover-trains.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}    

.cover__background::before {  
  content: ''; 
  opacity: 0.3;
  transition: opacity 0.3s ease;
  background: #2A2C2F;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;  
}  

.cover__background:hover:before { 
  opacity: 0.8; 
}

.cover__overlay { 
  text-decoration: none;  
  margin: 0; 
} 

.footer {
  max-width: 1184px; 
  display: flex; 
  margin: 92px auto 24px;
} 

.footer__link { 
  margin: 0 18px 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px; 
  color: #FFFFFF; 
  text-decoration: none;
}  

.footer__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF; 
  margin: 0 0 0 auto;
}

