.intro {
    max-width: 690px;
    padding: 92px 0 0 100px;
    overflow: hidden;
    margin: 0 auto;
}   

@media screen and (max-width: 1024px) {
    .intro {
        margin: 92px 0 0 48px;
    }
} 

@media screen and (max-width: 768px) {
    .intro { 
        max-width: 720px;
        padding: 88px 0 0 0;
        margin: 0 auto;
    }
} 

@media screen and (max-width: 768px) {
    .intro { 
        max-width: 288px;
        padding: 64px 0 0 0;
        margin: 0 auto;
    }
}

