.cover {
    padding: 92px 0 0;
	width: calc(100% - 2*48px);
}  

@media screen and (max-width: 1024px) {
	.cover {
		width: 100%;
	}
} 

@media screen and (max-width: 768px) {
	.cover {
		padding: 90px 0 0;
	}
} 

@media screen and (max-width: 320px) {
	.cover {
		padding: 66px 0 0;
	}
}